h1{
    text-align: center;
    font: bolder;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}
img {
 
    margin-top: -20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
   text-align: center; 
   color: black;
}
li {
    display: block;
    margin: 20px;
    font-size: larger;
    font-style: italic;
}
body {
    
    background: linear-gradient(26deg, #fdcd3b 50% , #f80612 50%);
}
.immg {
    width: 30px;
}